*.pem
build
cedict*.txt
databases
restart.sh
logs
.project
.pydevproject
.settings
ICTCLAS.log
accounts.db.index
accounts.db.lock
accounts.db.tmp
accounts.db
mica_ictclas.so
obsolete.py
*.swp
*.swo
*.swn
*.swm
*.pyc
*.key
*.csr
params.py
mica.session
sessions
resync.py
databases.tar.bz2
mica_session
